---
- name: Setup server and dependencies
  hosts: all
  become: true
  tasks:
    - name: Run the equivalent of "apt-get update" as a separate step
      ansible.builtin.apt:
        update_cache: yes
    - name: Install postgres dependency
      ansible.builtin.apt:
        pkg:
          - postgresql
          - postgresql-contrib

- name: Run the test
  hosts: all
  vars_files:
    - ./vars.yml
  environment:
    PGPASSWORD: "{{ pg_password }}"
  tasks:
    - name: Prepare data set
      ansible.builtin.shell: |
        pgbench -h {{ pg_host }} -p {{ pg_port }} -U {{ pg_user }} \
        -i -s {{ load_scale }} --quiet {{ pg_database }}
      vars:
        load_scale: 100
    - name: Run the test
      register: pgbench_output
      ansible.builtin.shell: |
        pgbench -h {{ pg_host }} -p {{ pg_port }} -U {{ pg_user }} \
        --client={{ item }} --jobs={{ load_threads }} \
        --transactions={{ transactions_per_client }} {{ pg_database }}
      with_sequence: start=2 end=10 stride=2 # increase clients from 2 to 10
      vars:
        load_threads: 4
        transactions_per_client: 100
    - name: Print the output
      debug:
        msg: "{{ item.stdout_lines }}"
      loop: "{{ pgbench_output.results }}"
      
